<div class="container">
	<div class="center jumbotron">
		<h1>WHY CODING CLUB</h1>
		<h2>Learn. Inspire. Grow.</h2>
		<p class="text-justify">Learn with community. Sessions are taken on regular basis by Alumni Team and Mentors.
		We value the power of influence. We believe people here will be the foundation of great coders.
		We learn together and help each other so that all people of community grow with each other.
		</p>
		<center><h5><i>EAT-SLEEP-CODE-REPEAT</i></h5></center>
	</div>
</div>
<center class="img-align"><%= image_tag("prog_lang.png",height: '40%', width: '60%') %></center>
