input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form { 
	margin-left: 33%;
	width:900px;
}

.field_with_errors{
	input{
		border-color: red;
	}
}

.no-decoration:hover{
	text-decoration: none;
}
.nav-color{
	color:white;

}
.nav-color:hover{
	color: yellow;
	text-decoration: none;
}
.pull-right{
	position: absolute;
    right: 31px;
	li{
		display: inline-block;
	}
}
.navbar{
	border-bottom: 1px solid yellow;
}
.navbar-nav{
	
	width: 100%;
	line-height: 40px;
	li{
	margin-left: 60px; 
	}

}
.error-red{
	margin-top: 50px;
    position: fixed;
    right: 20px;
    z-index: 123;
    box-shadow: 2px 4px 4px red;
    border: 1px solid #6f4e4e;
    padding: 5px;
    ul{
    	list-style: none;

    }
}
.close-error{
	position: absolute;
    right: 10px;
   &:hover{
   		background: grey;
   }
}

.img-align{
	margin-top: 21%;
}
.jumbotron{

    height: 35%;
    width: 70%;
    margin-top: 10px;
    border-radius: 30px;
    position: fixed;
}



.button-inline
{
	h3{
	display : inline-block
	}
}